<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N Sequential Passwords</title>
    <style>
        /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }

        /* Header/Logo Title */
        .header {
          padding: 5px;
          text-align: center;
          background: #1abc9c;
          color: white;
          font-size: 30px;
        }

        /* Page Content */
        .content {padding:20px;}
    </style>
</head>
<body>
<div class="header">
  <h1>N Sequential Passwords</h1>
  <p>Home</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/index/">Index</a>
              <a class="nav-link" href="/start/">Start</a>
              <a class="nav-link" href="/pin/">Pin</a>
              <a class="nav-link" href="/pattern_lock/">Pattern Lock</a>
              <a class="nav-link" href="/timer/">Timer</a>
              <a class="nav-link" href="/prompt/">Prompt</a>
            </div>
          </div>
        </div>
    </nav>
</div>

</body>
</html>