<!DOCTYPE html>
<html>
    <head><title>Index</title></head>
    <body>
        Hello! Welcome to the N Sequential Passwords task.
        <div>
            <a href="/pattern_lock/">Pattern Lock</a>
        </div>
        <div>
            <a href="/n_sequential_passwords/pin">One-step (pin only)</a>
        </div>
        <div>
          <a href="/n_sequential_passwords/password">One-step (password only)</a>
      </div>
        <div>
            <a href="/n_sequential_passwords/password_1">Two-step (password + pin)</a>
        </div>
        <div>
          <a href="/n_sequential_passwords/password_2_1">Three-step (password + pin + password)</a>
      </div>
      <div>
        <a href="/n_sequential_passwords/password_2password2pin_1">Four-step (password + pin + password + pin)</a>
    </div>
      <div>
        <a href="/n_sequential_passwords/pin_2pin_1">Two-step (pin + pin)</a>
      </div> 
      <div>
        <a href="/n_sequential_passwords/pin_3pin_1">Three-step (pin + pin + pin)</a>
      </div>
      <div>
        <a href="/n_sequential_passwords/pin_4pin_1">Four-step (pin + pin + pin + pin)</a>
      </div>  
      <div>
        <a href="/n_sequential_passwords/password_2password_1">Two-step (password + password)</a>
      </div> 
      <div>
        <a href="/n_sequential_passwords/password_3password_1">Three-step (password + password + password)</a>
      </div> 
      <div>
        <a href="/n_sequential_passwords/password_4password_1">Four-step (password + password + password + password)</a>
      </div> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/index/">Index</a>
                  <a class="nav-link" href="/start/">Start</a>
                  <a class="nav-link" href="/pin/">Pin</a>
                  <a class="nav-link" href="/pattern_lock/">Pattern Lock</a>
                  <a class="nav-link" href="/timer/">Timer</a>
                  <a class="nav-link" href="/prompt/">Prompt</a>
                </div>
              </div>
            </div>
        </nav>
    </body>
</html>