<!DOCTYPE html>
<html>
<head>
    <title>Password Prompt</title>
</head>
<body>
    <form method="post">
        <label for="password1">Enter Password 1:</label><br>
        <input type="password" id="password1" name="password1"><br>
        <label for="pin">Enter PIN:</label><br>
        <input type="text" id="pin" name="pin"><br>
        <label for="password2">Enter Password 2:</label><br>
        <input type="password" id="password2" name="password2"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
